	<!-- Start Footer -->
	<footer class="container bg-dark">
		<div class="row text-light text-center py-4 justify-content-center">
			<div class="col-sm-10 col-md-8 col-lg-6">
				<img src="static/img/logo-white.png" alt="Logo">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				<ul class="social pt-3">
					<li><a href="https://github.com/m-p-esser/" target="_blank"><i class="fab fa-github"></i></a></li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- End Footer -->